    <!DOCTYPE html>
    <html>
    <head>
        <title>{{subject}}</title>
    </head>
    <body>
        <div>
            <h1>{{greeting}}</h1>
            <p>Your request has been accepted!</p>
            <p>Here's your voucher code: <strong>{{voucherCode}}</strong></p>
            <p>Use this code to redeem your offer:</p>
            <p>Thank you for choosing our service.</p>
            <p>&copy;Fudged emojis</p>
        </div>
    </body>
    </html>
